[Desktop Entry]
Version=1.0
Type=Application
Name=ProGen
Icon=progen
Exec=/opt/progen/Progen
Comment=Progen
Categories=GNOME;GTK;Development;Documentation;
Terminal=false